@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.919);
}

.navbar > ul {
    display: flex;
    padding: 0 50px;
    list-style-type: none;
}

li {
    font-size: 25px;
    padding: 20px;
}

li > a {
    color: rgba(255, 255, 255, 0.6);
}

li > a:hover {
    text-decoration: underline;
    color: white;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: darkslategray;
}

.welcome-section > h1, p {
    line-height: 2;
}

.welcome-section > p {
    color: rgba(240, 255, 255, 0.8);
}


h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

p {
    font-size: 30px;
    color: rgba(240, 255, 255, 0.8);
}

h1, h2, p {
    text-align: center;
}

.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    padding: 100px;
    background-color: rgb(70, 70, 70);
}

.project-header {
    margin-top: 20px;
}

.project-tile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    width: 100%;
    height: fit-content;
    gap: 40px;
    margin: 0 auto;
}

.project-tile > a:hover {
    text-decoration: underline;
    color: rgba(240, 255, 255, 0.8);
}

.project-image {
    width: 100%;
    margin-bottom: 10px;
}

.project-title {
    font-size: 20px;
}

button {
    border: 1px solid rgba(240, 255, 255, 0.8);
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 30px;
    margin-top: 70px;
}

button > a {
    color: rgba(240, 255, 255, 0.8);
}

button:hover {
    background-color: rgba(240, 255, 255, 0.8);
}

button > a:hover {
    color: rgb(70, 70, 70);
}


.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(31, 31, 72);
}

.welcome-header, .project-header, .contact-header {
    color: antiquewhite;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
    width: fit-content;
}

.fa-brands {
    padding: 0 5px 0 20px;
    font-size: 30px;
    color: azure;
}

.social-icons > a {
    font-size: 30px;
    color: rgba(240, 255, 255, 0.5);
}

.social-icons > a:hover {
    color: azure;
}

a {
    text-decoration: none;
}

footer > p {
    color:rgb(70, 70, 70)
}

@media (max-width: 1220px) {
    .project-tile {
        grid-template-columns: repeat(2, 1fr);
        max-width: 800px;
    }
}

@media (max-width: 800px) {
    .welcome-header {
        font-size: 50px;
    }

    p {
        font-size: 25px;
    }
    .project-tile {
        display: block;
        max-width: 350px;
    }

    .project-image {
        margin-top: 50px;
    }

    .contact-header {
        font-size: 50px;
    }

    .social-icons > a {
        font-size: 25px;
    }
}

@media (max-width: 400px) {
    .navbar {
        justify-content: center;
        width: 100vw;
        height: 50px;
    }

    li {
        font-size: 15px;
    }

    h1 {
        font-size: 50px;
    }

    .welcome-section > p {
        font-size: 20px;
    }

    h2 {
        font-size: 30px;
    }

    .projects-section {
        width: 100vw;

    }

    .project-tile {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .project-title {
        font-size: 15px;
    }

    button {
        font-size: 15px;
    }

    .social-icons {
        flex-direction: column;
        width: 130px;
        align-items: start;
        justify-content: center;
        padding: 5px;
    }

    .social-icons > a {
        font-size: 20px;
    }

    .fa-brands {
        padding: 10px 10px 10px 0;
    }

    footer > p {
        font-size: 15px;
        width: 100vw;
        text-align: center;
    }
}
